---
interface Props {
	posts: any[];
}

const { posts } = Astro.props;
const count = posts.length;
---

<div class="styled-container">
	<div class="mobile-header">
		<slot name="header-right" />
	</div>
	<h1><slot /></h1>
</div>

<style>
	.mobile-header {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	h1 {
		font-size: var(--font-size-3xl);
		font-family: var(--font-serif);
		line-height: var(--leading-tighter);
		font-weight: normal;
		margin-bottom: var(--space-s);
	}

	@media screen and (max-width: 550px) {
		h1 {
			font-size: var(--font-size-2xl);
			margin: var(--space-3xs) 0 var(--space-2xs);
		}
	}
</style>
